@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Bezier tests</h1>

<ClearDataButton></ClearDataButton>

<video width="188" height="380" autoplay loop controls>
    <source src="algorithm-data/638130197157500987fcd05e6d-5ebe-4fc6-9b59-6e369199635e/timelapse-638130197157500987fcd05e6d-5ebe-4fc6-9b59-6e369199635e.mp4" type="video/mp4"/>
</video>

@*<div class="bezier-wrapper">
    <SfDiagramComponent Width="100%" Height="200px" Connectors="@connectors">
        <ScrollSettings ScrollLimit="@ScrollLimitMode.Diagram">
        </ScrollSettings>
        <SnapSettings Constraints="SnapConstraints.All">
            <HorizontalGridLines SnapIntervals="@SnapInterval">
            </HorizontalGridLines>
            <VerticalGridLines SnapIntervals="@SnapInterval">
            </VerticalGridLines>
        </SnapSettings>
    </SfDiagramComponent>
</div>

<style>
    .bezier-wrapper {
        width: 200px;
        height: 200px;
    }
</style>

@code
{
        public double[] SnapInterval { get; set; } = new double[]
    {
        5
    };

    //Defines diagram's connector collection.
    DiagramObjectCollection<Connector> connectors = new DiagramObjectCollection<Connector>();

    protected override void OnInitialized()
    {
        Connector Connector = new Connector()
            {
                ID = "connector1",
                SourcePoint = new DiagramPoint()
                {
                    X = 5,
                    Y = 30
                },
                Style = new ShapeStyle() { StrokeColor = "#6f409f", StrokeWidth = 1 },
                TargetPoint = new DiagramPoint() { X = 190, Y = 30 },
                Type = ConnectorSegmentType.Bezier,
                TargetDecorator = new DecoratorSettings()
                {
                    Shape = DecoratorShape.Arrow,
                    Style = new ShapeStyle()
                    {
                        Fill = "#6f409f",
                        StrokeColor = "#6f409f",
                        StrokeWidth = 1
                    }
                }
            };
        //Add the connector into connectors's collection.
        connectors.Add(Connector);
    }
}*@
