@page "/"
@using static HillClimbing_ImageRecreation.Components.TodoList;
<h1>Hill Climbing Algorithm</h1>
<h2>Image recreation</h2>

<TodoList TodoItems=@_todoList></TodoList>

@code {
    List<TodoItem> _todoList = new List<TodoItem>()
    {
        new("Add README.md", false),
        new("Move logic out of Algorithm.cs", true),
        new("Add unit tests for scoring system", false),
        new("Add rotation to shapes", false),
        new("Add algorithm's statistics", false),
        new("Add description to main page", false),
        new("Add color dictionary", false),
        new("Find library for livestreaming current score to the graph", false),
    };
}